
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

}

@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
  
    .scrollbar-hide::-webkit-scrollbar {
      display: none; /* WebKit browsers */
    }
  
    .bree-serif-regular {
      font-family: "Bree Serif", serif;
      font-weight: 200;
      font-style: normal;
    }
    
  }





